* {
  margin: 0%;
  padding: 0%;
}

body {
  font-family: "eurostile", sans-serif;
  color: #141c3a;
  overflow: hidden;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background: #F7F7F7;
  color: #363636;
}

.container, .main-container {
  border-radius: 10px;
  text-align: center;
  height: 90vh;
  background: #ffffff;
  -webkit-box-shadow: 5px 5px 7px #ced4da;
          box-shadow: 5px 5px 7px #ced4da;
}

.container {
  width: 300px;
}

.container nav {
  margin: 20px 0;
}

.name-text {
  position: relative;
}

.name-text img {
  position: absolute;
  left: 8%;
  top: 20px;
  width: 250px;
}

.nav-links {
  list-style-type: none;
  padding-top: 30%;
}

.nav-links li {
  margin-top: 3rem;
}

.nav-links a {
  text-decoration: none;
  Color: #141c3a;
}

.main-container {
  margin-left: 10px;
  width: 70%;
  overflow-y: scroll;
}

.main-container img {
  margin-top: 8%;
}

.main-container h1 {
  margin-top: 8%;
  color: #141c3a;
}

.main-container h5 {
  font-weight: normal;
  margin-top: 7px;
}

#top {
  color: #ffffff;
  pointer-events: none;
}

#content {
  height: 90vh;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #555;
}

#second-page {
  height: 60vh;
  background: #7510f7;
  position: relative;
}

#second-page h1 {
  color: #ffffff;
  font-size: 2rem;
  font-family: 'Roboto Mono', monospace;
  padding-top: 12%;
}

#second-page p {
  margin-top: 20px;
  color: #ffffff;
  font-weight: normal;
  font-family: 'Raleway', sans-serif;
}

.intro {
  margin: 4rem auto;
  width: 500px;
  height: 60vh;
  background-color: #ffffff;
  border-radius: 8px;
}

.intro h2 {
  padding-top: 5rem;
  color: #141c3a;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.intro h5, .intro h4 {
  font-weight: normal;
  margin-top: 4rem;
}

.intro h4 {
  color: #7510f7;
}

.intro ul {
  list-style: none;
  margin-top: 1rem;
}

#project {
  margin-top: 380px;
  overflow-x: scroll;
}

#project h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #141c3a;
}

#project p {
  margin-top: 1.5rem;
}

.gallary {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.photo-first {
  position: relative;
}

.photo-first img {
  max-width: 450px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.photo-first button {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  position: absolute;
  left: 45%;
  bottom: 30%;
  width: 6rem;
  height: 4rem;
  color: #ffffff;
  font-size: 1rem;
  background-color: #7510f7;
  border: 2px solid #ffffff;
  outline: none;
  opacity: 0;
}

.photo-first button a {
  color: #ffffff;
  text-decoration: none;
}

.photo-first button:hover {
  border-color: #7510f7;
}

.photo-first:hover img {
  opacity: 0.3;
}

.photo-first:hover button {
  opacity: 1;
}

.photo-second {
  position: relative;
}

.photo-second img {
  max-width: 450px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.photo-second button {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  position: absolute;
  left: 45%;
  bottom: 30%;
  width: 6rem;
  height: 4rem;
  color: #ffffff;
  font-size: 1rem;
  background-color: #7510f7;
  border: 2px solid #ffffff;
  outline: none;
  opacity: 0;
}

.photo-second button a {
  color: #ffffff;
  text-decoration: none;
}

.photo-second button:hover {
  border-color: #7510f7;
}

.photo-second:hover img {
  opacity: 0.3;
}

.photo-second:hover button {
  opacity: 1;
}

.last-sec {
  margin-top: 10%;
}

.parent {
  padding-top: 10%;
  position: relative;
}

.last-bar {
  position: absolute;
  top: 0;
  left: 10%;
  -webkit-transform: translate(0%, 10%);
          transform: translate(0%, 10%);
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  border: 1px solid #ced4da;
  border-radius: 10px;
}

.last-bar h1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 5% 0;
  font-weight: bolder;
}

.last-bar h4 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 5% 0;
  font-family: 'Raleway', sans-serif;
}

.last-bar .button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 5% 0;
}

.last-bar button {
  border: 2px solid #7510f7;
  background: #ffffff;
  color: #7510f7;
  width: 8rem;
  height: 4rem;
  font-weight: bold;
}

.last-info {
  background-color: #7510f7;
}

.last-info img {
  max-width: 450px;
  margin-top: 20%;
}

.last-info h3 {
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
}

.last-info .social-media-icon {
  width: 20px;
  margin: 5% 0% 13% 2%;
}

@media screen and (max-width: 800px) {
  .container {
    display: none;
  }
  
  .main-container{
    width: 90vh;
  }
    
  header {
    position: relative;
  }
  span {
    top: 0.5rem;
    left: 2rem;
    cursor: pointer;
    color: #7510f7;
    font-size: 25px;
    position: absolute;
  }
  .sideNav {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */
